/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/hot
/public/build
/public/storage
/public/media-library/*
/public/publications/*
/public/Research_Reports/*
/public/Featured_Events/*
/storage/media-library
/storage/*.key
/vendor
.DS_Store
.env
.env.backup
.env.*
.phpunit.result.cache
.php-cs-fixer.php
.php-cs-fixer.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
/.idea
/.vscode
.env.*


