:root {
    --scrollbarBG: #cfd8dc;
    --thumbBG: #90a4ae;
    --color-black: #000;
    --color-bg: #fff;
    --color-bg-reverse: var(--color-dark);
    --color-body-bg: var(--color-white);
    --color-dark: #262626;
    --color-darker: #1f1f1f;
    --color-dark-acc: #404040;
    --color-grey-darker: #595959;
    --color-grey-dark: #737373;
    --color-grey: grey;
    --color-grey-light: #8c8c8c;
    --color-grey-lighter: #a6a6a6;
    --color-light-acc: #bfbfbf;
    --color-light: #d9d9d9;
    --linkcolor: "#006181";
    --color-border: "#ebebeb";
    --color-text: var(--color-dark);
    --color-text-reverse: var(--color-light);
}

[data-theme="dark"] {
    --color-bg: var(--color-darker);
    --color-body-bg: var(--color-dark);
    --color-text: var(--color-light);
    --color-border: #333;
    --color-bg-reverse: #fff;
    --color-text-reverse: var(--color-dark);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    -webkit-scrollbar-width: thin;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    position: relative;
    background-color: var(--color-body-bg);
    color: var(--color-text);
    font-family: "-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif";
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    word-break: break-word;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
}

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

/* body p {
    font-family: "Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, system-ui, sans-serif";
    font-weight: normal;
} */

img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.primary-link {
    text-decoration: inherit;

}
.primary-link:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--linkcolor) !important;
    color: var(--linkcolor) !important;
    transition: all 200ms ease-in;
}
.swiper-button-prev,
.swiper-button-next {
    width: 40px !important;
    height: 35px !important;
}

#root,
#__next {
    isolation: isolate;
}

main {
    background-color: var(--color-body-bg);
    color: var(--color-text);
}

.skip-link {
    position: absolute;
    left: -9999rem;
    top: 2.5rem;
    z-index: 999999999;
    text-decoration: underline;

    & :focus,
    & :active {
        display: block;
        left: 6px;
        top: 7px;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        line-height: normal;
        padding: 15px 23px 14px;
        z-index: 100000;
        right: auto;
    }
}

.scrollBody {
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
}

.glassbox::-webkit-scrollbar {
    display: none;
}

.glassbox {
    -ms-overflow-styles: none;
    scrollbar-width: none;
}



time {
    font-family: var(--chakra-fonts-mono);
}

.post-slide {
    align-self: center;
}

.sidebar > :last-child {
    position: sticky;
    top: 8rem;
}

.swiper, .swiper-wrapper,
.swiper-initialized{
    width: 100% !important;
    height: 100% !important;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.post-slide {
    max-width: 100% !important;
}

.full-width-carousel .swiper-button-next, .full-width-carousel .swiper-button-prev {
    border-color: var(--color-darker);
}

.full-width-carousel .swiper-button-next::after, .full-width-carousel .swiper-button-prev::after {
    color: var(--color-darker)
}


.swiper-button-next,
.swiper-button-prev {
    padding-inline: 8px;
    border-radius: 5px;
    border: 3px solid ;
    border-color: var(--color-text);
    color: var(--color-text);
    width: 2.5rem !important;
    height: 2.5rem !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 1.25rem !important;
    color: var(--color-text);
}

.multi-post-carousel .swiper-button-next,
.multi-post-carousel .swiper-button-prev,
.multi-item-carousel .swiper-button-next,
.multi-item-carousel .swiper-button-prev  {
    top: 25px;
}

.multi-post-carousel > .swiper-button-prev,
.multi-item-carousel > .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 60px) !important;
    left: auto !important;
}


.blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: var(--chakra-colors-primary-500);
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

.blockquote {
    width: 80%;
    font-style: italic;
    color: var(--chakra-colors-whiteAlpha-800);
    padding: 1.2em 1.8rem 1.2em 4rem;
    border-left: 8px solid var(--chakra-colors-primary-500);
    line-height: 1.5;
    position: relative;
    background: var(--chakra-colors-blackAlpha-400);
    backdrop-filter: blur(3px);
}

.blockquote::after {
    content: "";
}

.blockquote span {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}

@media (min-width: 420px) {
    & .cards {
        & .title {
            color: white !important;
            z-index: 1;
        }

        & .content {
            z-index: 1;
        }

        &:hover {
            transition: all 0.4s ease-in-out;

            & .title {
                background: hsl(194, 100%, 25%, 0.4);
            }

            & .content {
                color: rgb(0, 0, 0);
                background: hsl(0, 17%, 95%, 0.4);
                opacity: 1;
            }
        }
    }
}

@media (hover: none) and (pointer: coarse) {
    .left-arrow,
    .right-arrow {
        display: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0s !important;
        transition-duration: 0s !important;
    }
}

/* backend react-datepicker styles */
.react-datepicker {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

.react-datepicker__navigation--next--with-time:not(
        .react-datepicker__navigation--next--with-today-button
    ) {
    right: 90px;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
    height: 8px;
}

.react-datepicker__navigation--previous {
    border-right-color: #cbd5e0;

    &:hover {
        border-right-color: #a0aec0;
    }
}

.react-datepicker__navigation--next {
    border-left-color: #cbd5e0;

    &:hover {
        border-left-color: #a0aec0;
    }
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
    display: block;
}

.react-datepicker__header {
    border-radius: 0;
    background: #f7fafc;
}

.react-datepicker,
.react-datepicker__header,
.react-datepicker__time-container {
    border-color: #e2e8f0;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
    font-size: inherit;
    font-weight: 600;
}

.react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item {
    margin: 0 1px 0 0;
    height: auto;
    padding: 7px 10px;

    &:hover {
        background-color: #edf2f7;
    }
}

.react-datepicker__day:hover {
    background: #edf2f7;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item--selected {
    background: #3182ce;
    font-weight: normal;

    &:hover {
        background-color: #2a69ac;
    }
}
