:root {
    --scrollbarBG: #cfd8dc;
    --thumbBG: #90a4ae;
    --color-black: #000;
    --color-bg: #fff;
    --color-bg-reverse: var(--color-dark);
    --color-body-bg: var(--color-white);
    --color-dark: #262626;
    --color-darker: #1f1f1f;
    --color-dark-acc: #404040;
    --color-grey-darker: #595959;
    --color-grey-dark: #737373;
    --color-grey: grey;
    --color-grey-light: #8c8c8c;
    --color-grey-lighter: #a6a6a6;
    --color-light-acc: #bfbfbf;
    --color-light: #d9d9d9;
    --linkcolor: "#006181";
    --color-border: "#ebebeb";
    --color-text: var(--color-dark);
    --color-text-reverse: var(--color-light);
}

[data-theme="dark"] {
    --color-bg: var(--color-darker);
    --color-body-bg: var(--color-dark);
    --color-text: var(--color-light);
    --color-border: #333;
    --color-bg-reverse: #fff;
    --color-text-reverse: var(--color-dark);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: var(--color-body-bg);
    color: var(--chakra-colors-gray-600);
    font-family: 'Inter , ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", -apple-system, BlinkMacSystemFont, "Segoe UI Emoji",Segoe UI Symbol, "Noto Color Emoji"';
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    word-break: break-word;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    --scrollbar-width-legacy: 11px;
}

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

img,
picture,
video,
canvas, iframe {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}



main .primary-link:hover, main a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: var(--chakra-colors-primary-500);
    text-decoration-color: var(--chakra-colors-primary-500) !important;
}


#root,
#__next {
    isolation: isolate;
}

main {
    background-color: var(--color-body-bg);
}

.skip-link {
    position: absolute;
    left: -9999rem;
    top: 2.5rem;
    z-index: 999999999;
    text-decoration: underline;

    & :focus,
    & :active {
        display: block;
        left: 6px;
        top: 7px;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        line-height: normal;
        padding: 15px 23px 14px;
        z-index: 100000;
        right: auto;
    }
}

.scrollBody {
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
}



.glassbox::-webkit-scrollbar {
    display: none;
    width: none;
}

.glassbox {
    -ms-overflow-styles: none;
    -webkit-scrollbar-width: none;
    scrollbar-width: none;
}

.chakra-ui-dark .post-content  a, .chakra-ui-dark .page-content a {
    background-image: linear-gradient(
        #232323 50%,
        var(--chakra-colors-primary-300) 50%
    ) !important;
    transition: background 0.5s;
    background-size: auto 175%;
}

.chakra-ui-dark .post-content  a:hover, .chakra-ui-dark .page-content  a:hover {
    background-position-y: 100%;
    text-decoration: none !important;
    color: #fff !important;
}

/* .post-content  a, .page-content a  {
    background-image: linear-gradient(
        white 50%,
        var(--chakra-colors-primary-300) 50%
    );
    transition: background 0.5s;
    background-size: auto 175%;
}

.post-content  a:hover, .page-content a:hover {
    background-position-y: 100%;
    text-decoration: none !important;
    color: #fff !important;
} */

.post-content a, .page-content a {
    text-decoration: inherit;
    color: var(--chakra-colors-primary-500);
}

.post-meta p {
    font-size: var(--chakra-fontSizes-sm) !important;
}

.post-slide {
    align-self: center;
}

.sidebar > :last-child {
    position: sticky;
    top: 8rem;
}

.swiper-button-prev,
.swiper-button-next {
    width: 40px !important;
    height: 35px !important;
}

swiper-container {
    width: 100% !important;
    height: 100% !important;
}



.blockquote::before {
    font-family: Arial, Helvetica, sans-serif;
    content: "\201C";
    color: var(--chakra-colors-primary-500);
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: 0;
}

.blockquote {
    width: 80%;
    padding: 1.2em 1.8rem 1.2em 3rem;
    border-left: 8px solid var(--chakra-colors-primary-500);
    line-height: 1.5;
    position: relative;
    background: var(--chakra-colors-blackAlpha-100);
    backdrop-filter: blur(3px);
}

.chakra-ui-dark .blockquote {
    background: var(--chakra-colors-blackAlpha-300);
}

.blockquote::after {
    content: "";
}

.cards {
    & .title {
        color: white !important;
        z-index: 1;
    }

    & .content {
        z-index: 1;
    }

    &:hover {
        transition: background 0.4s ease-in-out;

        & .title {
            background: hsl(194, 100%, 25%, 0.6);
        }

        & a {
            color: white !important;
            text-decoration: none;
        }

        & .content {
            color: rgb(0, 0, 0);
            background: hsl(0, 17%, 95%, 0.4);
            opacity: 1;
        }
    }
}

@media (hover: none) and (pointer: coarse) {
    .left-arrow,
    .right-arrow {
        display: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0s !important;
        transition-duration: 0s !important;
    }
}



.newsletter-html td[data-value*="logo"] img {
    width: 120px !important;
    height: 90px !important;
}

.newsletter-html td[data-value*="social"] img {
    width: 24px !important;
    height: 24px !important;
}


