.card-swiper {
  width: 180px !important;
  height: 240px !important;
}

.card-swiper-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 18px !important;
  font-size: 22px !important;
  font-weight: bold;
  color: #fff;
}

.card-swiper-slide {
  background-color: var(--chakra-colors-gray-400) !important;
}