.card-swiper {
  width: 100% !important;
  max-width: var(--chakra-sizes-sm) !important;
  padding-block: 10px;
}

.card-swiper-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 22px !important;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.card-swiper-slide img {
    width: 140px !important;
    margin: 0 auto;
}

.swiper-slide-shadow {
    display: none !important;
}
