.full-width-carousel swiper-slide {
    position: relative;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100% !important;
}

 .full-width-carousel .swiper-slide img {
    display: block;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}
