.video-carousel .video-slide {
  width: 100% !important;
  height: 100% !important;
  text-align: center;
}

.video-carousel {
    max-height: 400px !important;
    width: 100% !important;
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--chakra-radii-lg);
    overflow: hidden;
}

.thumbs-swiper .thumb-slide {
   width: 100% !important;
   height: auto !important;
   opacity: 0.4;
}

.thumbs-swiper .swiper-slide-thumb-active {
   opacity: 1;
}
